.highlight {
     padding: 1rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     -ms-overflow-style: -ms-autohiding-scrollbar;
     background-color: #f8f9fa
 }

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0
}

.highlight pre code {
    font-size: inherit
}
